@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Righteous&display=swap");

.header {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-title {
  font-size: 50px;
  margin-top: 10%;
  color: #2c47c9;
}

.logo {
  margin-top: 5%;
  width: 30%;
  height: 100%;
}

.connect-btn {
  margin-top: 5%;
  z-index: 4;
  cursor: pointer;
  font-size: 20px;
  width: 30%;
  height: 50px;
  font-family: "Righteous", cursive;
  color: white;
  background-color: #2c47c9;
  border: none;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .logo {
    margin-top: 30%;
    width: 100%;
    height: 100%;
  }
  .connect-btn {
    margin-top: 30%;
    width: 80%;
  }
}
