.container {
  width: 100%;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-logo {
  display: flex;
  flex-direction: row;
  height: 20vmin;
  pointer-events: none;
}
.image-wrap {
  margin-top: 2%;
  justify-content: center;
  display: flex;
  width: 100%;
}

.info-wrap {
  color: #2c47c9;
  font-size: 30px;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.info-items {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.info-div {
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  align-self: center;
  margin-top: 15%;
  color: #2c47c9;
  font-size: 20px;
  display: flex;
}

.info-item {
  display: flex;
}
.info-box {
  width: 90%;
}
.mojito-btn {
  z-index: 4;
  margin-top: 10%;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  height: 50px;
  font-family: "Righteous", cursive;
  color: white;
  background-color: #2c47c9;
  border: none;
  border-radius: 20px;
}
.utilities {
  color: white;

  flex-wrap: wrap;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.guess-form {
  background-color: #2c47c9;
  padding: 7%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid #facb00;
}

.mojito-blender {
  background-color: #2c47c9;
}
.form-items {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.market-title {
  align-self: center;
  margin-bottom: 10%;
}

.guess-submit {
  height: 50px;
  font-size: 20px;
  font-family: "Righteous", cursive;
  color: white;
  background-color: #facb00;
  border: none;
  border-radius: 20px;
}
.guess-submit .mojito-blender {
  background-color: #1d6756;
}

.guess-input {
  margin-bottom: 20px;
  height: 50px;
  border: none;
  border-radius: 20px;
}

.confetti {
  width: 100%;
  position: absolute;
  z-index: 6;
}

@media (max-width: 480px) {
  .profile-logo {
    width: 50%;
    height: 100%;
  }

  .image-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .info-wrap {
    width: 80%;
    margin-top: 20%;
    align-self: center;
    font-size: 20px;
  }

  .guess-form {
    width: 300px;
    height: 250px;
  }
}
